@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

input, select, button, a {
	font-family: 'Lato', sans-serif;
}

button {
	cursor: pointer;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button, input {
	outline: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}