@import '../../../styles/base/variables';

.address__current {
    padding: 20px;
    border-radius: 12px;
    background-color: $white;
    box-shadow: 4px 1px 21px rgba($black, .1);
    margin-bottom: 20px;
}

.address__current-content {
    border: 1px solid rgba($black, .1);
    border-radius: 12px;
		margin-bottom: 20px;
}

.address__current-btn {
    display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;

		svg {
			margin-right: 6px;
			font-size: 20px;
		}
}

.address__current-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba($black, .1);

    &:last-child {
        border-bottom: none;
    }
}

.address__current-item-text {
    font-size: 16px;
    color: $blue;
}

.address__current-item-text--bold {
    font-weight: 700;
}