@import '../../../styles/base/variables';

.create-item__form {
	background-color: $white;
	padding: 30px;
	width: 640px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.create-item__input-holder {
	width: calc(100% / 2 - 20px);
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	&:nth-of-type(2n) {
		margin-right: 0;
	}
}

.create-item__input-holder--file {
	.create-item__input {
		border: none;
		padding: 0;
		border-radius: 0;
	}
}

.create-item__label {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
}

.create-item__input {
	border: 1px solid $black;
	border-radius: 100px;
	padding: 5px 10px;
	font-size: 16px;
}