@import '../../../styles/base/variables';

.header {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	height: fit-content;
	z-index: 100;
	min-height: 170px;
}

.header__top {
	padding: 12px 0;
	background-color: $blue;
}

.header__top-container {
	display: flex;
	align-items: center;
}

.header__top-link {
	display: flex;
	align-items: center;
	margin-right: 30px;
	color: $white;
	text-decoration: none;

	svg {
		display: block;
		margin-right: 5px;
		font-size: 16px;
	}

	&:hover {
		text-decoration: underline;
	}
}

.header__bottom {
	padding: 16px 0;
	background-color: $blue;
}

.header__bottom-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	font-size: 36px;
	color: $white;
	margin-right: 30px;
	font-weight: 600;
}

.header__bottom-link {
	display: flex;
	align-items: center;
	color: $white;
	font-size: 18px;
	margin-left: 30px;

	svg {
		font-size: 22px;
		margin-right: 5px;
	}

	&:hover {
		text-decoration: underline;
	}
}

.header__navigation {
	padding: 12px 0;
	background-color: $white;
}

.header__menu {
	background-color: transparent;
	border: none;
	display: flex;
	color: $black;
	align-items: center;
	font-size: 18px;
	padding: 0;

	svg {
		margin-right: 5px;
		font-size: 18px;
	}
}

.header__user {
	background-color: transparent;
	border: none;
	color: $white;
	font-size: 18px;
	display: flex;
	align-items: center;

	svg {
		font-size: 22px;
    margin-right: 5px;
	}
}

.header__user-chevron {
	font-size: 14px !important;
	margin-right: 0 !important;
	margin-left: 2px;
}

.header__user-holder {
	position: relative;
	margin-left: 30px;
}

.header__user-dropdown {
	position: absolute;
	left: 50%;
	bottom: -10px;
	background-color: $red;
	padding: 20px;
	transform: translate(-50%, 100%);
	border-radius: 6px;
	min-width: 160px;
}

.header__user-list {
	margin-left: 0;
}

.header__user-link {
	font-size: 16px;
	color: $white;
	font-weight: 700;
}

.header__user-item {
	&:not(:last-child) {
		margin-bottom: 12px;
	}
}

.header__logout {
	color: $white;
	font-size: 16px;
	background-color: transparent;
	border: none;
	font-weight: 700;
}

.header__theme-btn {
	width: 50px;
	background-color: $white;
	position: relative;
	border-radius: 100px;
	height: 26px;
	border: 2px solid $white;

	svg {
		border: none;
	}
}

.header__theme-toggle {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	background-color: $blue;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .4s ease-in;
	border: none;

	svg {
		font-size: 12px;
		color: $white;
	}
}

.header__theme-btn--dark {
	.header__theme-toggle {
		left: 100%;
		transform: translate(-100%, -50%) rotate(360deg);
	}
}

.header__favourites {
	color: $red-light;
	font-weight: 700;
	font-size: 16px;
	display: flex;
	align-items: center;
	margin-right: 20px;

	svg {
		margin-right: 5px;
		font-size: 12px;
	}

	&:hover {
		color: $white;
	}
}

.header__top-holder {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.header__cart-link {
	position: relative;
}

.header__cart-result {
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-70%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	background-color: $red-light;
	color: $white;
	border-radius: 50%;
	font-size: 15px;
}